body {
    margin: 0px;
    font-size: 16px;
    font-weight: 500;
    cursor: context-menu;
    color: #292d39;
    background-color: bisque;
    font-family: 'Acme', sans-serif;

    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Firefox */
       -ms-user-select: none; /* Internet Explorer/Edge */
           user-select: none; /* Non-prefixed version, currently
                                 supported by Chrome and Opera */
}

/* Header Design CSS */
.marginBox{
    margin-left: 10px;
    margin-right: 10px;
}


.header{
    min-height: 100vh;

}

/* Brand Design */
.brand{
    text-align: center;
}
.brandSub{
    max-width: 600px;
}
.title{
    font-size: 10rem;
    font-variant: small-caps;
    font-weight: 900;
    margin: 0px;
}
/* Nav Bar Design */
.nav{
    min-height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.navSub{
   
}
.logo{
   font-size: 25px;
}
.page{
   
}
.page span{
    margin: 5px;
}

/* Content Design */
.content{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding:10px;
}